body{
text-align: center;
}
#main{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
}
h2{
    font-weight: 150;
}
input[type=text]:focus, input[type=email]:focus {
    background-color: lightblue;
    width: 200px;
}
